In [ ]:
'YYYY-MM-DD HH:MI:SS.FF’ 
Given is the format for timestamp in oracle. Write a Python script to extract Date, Month, Year, Hour, Mins from the given format and print. 
Eg. If we give input as ‘1999-12-31 23:59:50.10’. 
Then output must be Date:31 Month:12 Year:1999 Hour:23 Mins:59 
Upload .py file and turn in Assignment.



Test Cases:
     INPUT                                  => OUTPUT
1. ‘1999-12-31 23:59:50.10’ => Date:31 Month:12 Year:1999 Hour:23 Mins:59
2. ‘2021-12-05 03:22:50.10’ => Date:05 Month:12 Year:2021 Hour:03 Mins:22

In [1]:
timestamp=input()
A=timestamp.split(' ')
A1=A[0].split('-')
A2=A[1].split(':')
D={"Date":int(A1[2]),"Month":int(A1[1]),"Year":int(A1[0]),"Hour":int(A2[0]),"Mins":int(A2[1])}
print(D)

1999-12-31 23:59:50.10
{'Date': 31, 'Month': 12, 'Year': 1999, 'Hour': 23, 'Mins': 59}